# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

# RESEND_API_KEY: Clave de API para el servicio de envío de correos transaccionales Resend (resend.com)
RESEND_API_KEY=""
